/** fonts extension must be in order**/

@font-face {
    font-family: 'Karla-Regular';
    src: url('./fonts/karla/Karla-Regular.eot');
    src: url('./fonts/karla/Karla-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/karla/Karla-Regular.woff') format('woff'),
         url('./fonts/karla/Karla-Regular.ttf') format('truetype'),
         url('./fonts/karla/Karla-Regular.svg#Karla-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-Bold';
    src: url('./fonts/karla//Karla-Bold.eot');
    src: url('./fonts/karla/Karla-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/karla/Karla-Bold.woff') format('woff'),
         url('./fonts/karla/Karla-Bold.ttf') format('truetype'),
         url('./fonts/karla/Karla-Bold.svg#Karla-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-BoldItalic';
    src: url('./fonts/karla//Karla-BoldItalic.eot');
    src: url('./fonts/karla/Karla-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/karla/Karla-BoldItalic.woff') format('woff'),
         url('./fonts/karla/Karla-BoldItalic.ttf') format('truetype'),
         url('./fonts/karla/Karla-BoldItalic.svg#Karla-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Karla-Italic';
    src: url('./fonts/karla//Karla-Italic.eot');
    src: url('./fonts/karla/Karla-Italic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/karla/Karla-Italic.woff') format('woff'),
         url('./fonts/karla/Karla-Italic.ttf') format('truetype'),
         url('./fonts/karla/Karla-Italic.svg#Karla-Italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Pacifico';
    src: url('./fonts/pacifico/Pacifico.eot');
    src: url('./fonts/pacifico/Pacifico.eot?#iefix') format('embedded-opentype'),
         url('./fonts/pacifico/Pacifico.woff') format('woff'),
         url('./fonts/pacifico/Pacifico.ttf') format('truetype'),
         url('./fonts/pacifico/Pacifico.svg#Pacifico') format('svg');
    font-weight: normal;
    font-style: normal;

}


.banner {
   text-align: center;
   background-image: url("./images/kayak-bkgd.jpg");
   background-size: cover;
   width: 100%;
   height: 100%;
   min-height: 400px;

}   

header nav{
    height: 30px;
    background-color: #aeaca8;

}


p {
    color: grey;
    font-family: 'Karla-Regular';
    position: relative;
    top: 100px;
}


.banner h1 {
    color: white;
    font-family: 'Pacifico';
    font-size: 100px;
    position: relative;
    top: 50px;
}

.banner h2 {
    color: white;
    font-family: 'Pacifico';
    font-size: 40px;
    position: relative;
    top: 50px;
}

.banner p {
    color: white;
    position: relative;
    top: 100px;
}
.banner p:first-of-type {
    color: white;
    font-size: 20px;
}
.banner p:nth-of-type(2) {
    color:white;
    font-size: 20px;
}
.banner p:last-of-type {
    color: white;
    font-size: 20px;
}

body {
    color: grey;
    font-family: 'Pacifico';
    margin: 0;
    padding: 0;
}

section.about {
    text-align: center;
    justify-content: space-between;
    height: 700px;
    display: block;
    
}

.about h1 {
    font-size: 50px;
    color: #646464;
    font-family: 'Pacifico';
    top: 50px;
    position: relative;

}

.aboutcaption {
    text-align: center;
    top: 10px;
    max-width: 580px;
    height: 250px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

p {
    color: grey;
    display: block;
    align-content: center;
   
}

.rentals {
    height: 400px;
}

.rentals h1 {
    color: grey;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

.rental-parent {
    padding-left: 66px;
    display: flex;
}

.rental-table {
    padding-right: 33px;
    font-family: 'Kayla-Regular';
    border: 1px;
}



footer {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    height: 400px;
    align-items: center;

}

.footer-left p {
    color: white;
    padding-left: 66px;
    top: 50px;
    display: flex;
    flex-direction: column;
}

.footer-right {
    color: white;
    padding-right: 200px;
    display: flex;
    flex-direction: column;

}

/** About section **/

.images-container {
  display: flex;
  height: 300px;
  justify-content: space-around;
  padding: 10px;
}
.image-wrapper {
    width: 32%;
    height: auto;
}


img {
    width: 100%;

}
/*img {
    height: 200px;
    width: 250px;
}*/

/** Let's Flex it **/


.container {
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  height: 100px;
  width: 1140px;
  flex-wrap: wrap;
}





